@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root {
	--main-bg-color: #000000;
	--warning: #ce0000;
	--calc-green: #06FF01;
	--pink: #F681F6;
	--blue: #03E9F4;
}

html {
	box-sizing: border-box;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
button {
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}

.calculator {
	background-color: var(--main-bg-color);
	padding: 5px;
}

.display {
	padding: 1rem 1rem;
	margin-bottom: 5px;
	border: 2px solid var(--pink);
	border-style: inset;
}

.display span {
	display: block;
	text-align: right;
}

.calcs {
	color: orange;
	font-size: 0.7rem;
}

.result {
	color: white;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4);
}

button {
	font-family: 'Oswald', sans-serif;
	appearance: none;
	color: white;
	background-color: var(--blue);
	border: 1px solid black;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	transition: 0.2s;
}

button:hover {
	cursor: pointer;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.ligth-gray {
	background-color: var(--pink);
}

#clear {
	background-color: var(--warning);
	grid-column-start: 1;
	grid-column-end: 3;
}

#equals {
	background-color: var(--calc-green);
}

#zero {
	grid-column-start: 1;
	grid-column-end: 3;
}

#equals {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 6;
}

footer {
	font-size: 0.5rem;
	padding: 0.5rem;
	text-align: center;
}